[submodule "Apple-Tab-Bar"]
	path = Apple-Tab-Bar
	url = https://github.com/JonathanXDR/Apple-Tab-Bar
[submodule "Apple-Graphs"]
	path = Apple-Graphs
	url = https://github.com/JonathanXDR/Apple-Graphs
[submodule "Apple-Modal"]
	path = Apple-Modal
	url = https://github.com/JonathanXDR/Apple-Modal
[submodule "Apple-Music-Slideshow"]
	path = Apple-Music-Slideshow
	url = https://github.com/JonathanXDR/Apple-Music-Slideshow
[submodule "Apple-Loading-Screen"]
	path = Apple-Loading-Screen
	url = https://github.com/JonathanXDR/Apple-Loading-Screen
[submodule "Apple-Mac-Morph"]
	path = Apple-Mac-Morph
	url = https://github.com/JonathanXDR/Apple-Mac-Morph
